@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Thanh Toán Thất Bại";
    Layout = "_FrontEnd";
}

<div style="margin-right:25%; margin-left:25%;text-align: justify; border:double ; border-radius:5px ">
    <h1>Thanh toán hóa đơn @ViewBag.text thất bại. Vui lòng thử lại!</h1>
</div>