@model IEnumerable<SSGioHang>
@{
    Layout = "_FrontEnd";

}
<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                @foreach (var item in Model)
                                {
                                
                                    <tr>


                                        <td>

                                            <div class="img">
                                                <a href="#"><img src="~/images/sanpham/@item.hinhAnh" alt="Image"></a>
                                                <p>@item.tensp</p>
                                            </div>
                                        </td>
                                        <td>@item.giasp đ</td>
                                        <td>
                                            <div class="qty">
                                                <!--<button class="btn-minus"><i class="fa fa-minus"></i></button>-->
                                                <input type="text" value="@item.soLuong">
                                                <!--   <button class="btn-plus"><i class="fa fa-plus"></i></button>-->
                                            </div>
                                        </td>
                                        <td>@item.thanhTien đ</td>

                                        <td><a href="/giohang/xoasp/@item.idSP/"><i class="fa fa-trash"></i></a></td>


                                    </tr>
                               
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input id="vlmgg" type="text" placeholder="Coupon Code">
                                <button id="checkmgg">Apply Code</button>
                            </div>
                            <div style="color:red" id="kquamgg">

                            </div>
                        </div>
                      

                        <div class="col-md-12">
                            <form asp-action="checkout" asp-controller="GioHang">
                                <input hidden id="mggvlcode" value="0" name="mggvlcode" />
                                <div class="cart-summary">
                                    <div class="cart-content">
                                        <h1>Giá trị giỏ hàng</h1>
                                        <p>Tổng tiền hàng<span id="tth1">0 đ</span></p>
                                        <p>Giảm giá<span id="mgg1">0 đ</span></p>
                                        <input hidden id="tth" value="0" name="tth" />
                                        <input hidden id="mggvl" value="0" name="mggvl" />
                                        <input hidden id="tongcong" value="0" name="tongcong" />
                                        <p>Phí giao hàng<span>FREE</span></p>
                                        <h2>Tổng cộng<span id="tongcong1">0</span></h2>
                                    </div>
                                    <div class="cart-btn">
                                        <!--   <button>Update Cart</button>-->
                                        <button>Checkout</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
