@{ 
    Layout = "_FrontEnd";
 }
<div style="        margin-left: 25%;
        margin-right: 25%;
        text-align: justify ; border:double ; border-radius:5px">

    <h2 style="text-align:center">@ViewBag.mess</h2>
</div>


<script>
    $(document).ready(function () {

        $.ajax({
            url: "/sendmail/donhangthanhcong/",
            data: {
                id: "@ViewBag.iddh",
       
                emails: "@ViewBag.emails",
            },
            type:"POST",
        });
    });
</script>