@model ECommerceNET.Entities.Banner

@{
    ViewData["Title"] = "Create";
    Layout = "_BackEndAdmin";
}
<div id="content-wrapper" class="d-flex flex-column" style="padding:20px">
    <h1>Tạo mới banner</h1>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="hinhAnh" class="control-label">Hình ảnh</label>
                    <input name="hinhAnh" type="file" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="ngayBatDau" class="control-label"></label>
                    <input asp-for="ngayBatDau" class="form-control" />
                    <span asp-validation-for="ngayBatDau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ngayKetThuc" class="control-label"></label>
                    <input asp-for="ngayKetThuc" class="form-control" />
                    <span asp-validation-for="ngayKetThuc" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    </div>