@model ECommerceNET.Entities.Banner

@{
    ViewData["Title"] = "Delete";
    Layout = "_BackEndAdmin";
}

<div id="content-wrapper" class="d-flex flex-column" style="padding:20px">

    <h3>Bạn có chắc muốn xóa?</h3>
    <div>
        <h4>Banner</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.hinhAnh)
            </dt>
            <dd class="col-sm-10">
                <img src="~/images/banner/@Html.DisplayFor(model => model.hinhAnh)" style="width:300px;height:100px" />

            </dd>
            <dt class="col-sm-2">
                Ngày tạo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngayTao)
            </dd>
            <dt class="col-sm-2">
                Ngày bắt đầu
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngayBatDau)
            </dd>
            <dt class="col-sm-2">
                Ngày kết thúc
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngayKetThuc)
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="idBanner" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    </div>