@{
    ViewData["Title"] = "Home Page";
    Layout = "_FrontEnd";
}
@model sessionuser;
    <!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="loaditembanner">

            </div>

        </div>
    </div>
</div>



<!-- Featured Product Start -->
<div id="dsspbanchay">

</div>
<hr />



<!-- Featured Product End -->
<div id="dsspmoi">

</div>
<hr />


<div id="dsspnoibat">

</div>

