@model ECommerceNET.Entities.SanPham

@{
    ViewData["Title"] = "Create";
    Layout = "_BackEndAdmin";
}
<div id="content-wrapper" class="d-flex flex-column" style="padding:20px">
    <h1>Thêm sản phẩm</h1>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="tenSP" class="control-label">Tên sản phẩm</label>
                    <input asp-for="tenSP" class="form-control" />
                    <span asp-validation-for="tenSP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="giaSP" class="control-label">Giá</label>
                    <input asp-for="giaSP" class="form-control" value="0" />
                    <span asp-validation-for="giaSP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="hinhAnh" class="control-label">Hình ảnh</label>
                    <input name="hinhAnh" type="file" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="soLuongKho" class="control-label">Số lượng kho</label>
                    <input asp-for="soLuongKho" class="form-control" value="0" />
                    <span asp-validation-for="soLuongKho" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="moTa" class="control-label">Mô tả</label>
                    <input asp-for="moTa" class="form-control" />
                    <span asp-validation-for="moTa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="idLoaiSP" class="control-label">Loại sản phẩm</label>
                    <select asp-for="idLoaiSP" class="form-control" id="loadloai">
                    </select>
                </div>


                <div class="form-group">
                    <label asp-for="trangThai" class="control-label">Trạng thái</label>
                    <select asp-for="trangThai" class="form-control">
                        <option value="Hiển thị" selected="selected">Hiển thị</option>
                        <option value="Ẩn">Ẩn</option>

                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <script>
        $(document).ready(function () {
           
                $.ajax({
                    url: "/Admin/Sanphams/LoadLoai/",
                
                    success: function (data) {
                        $("#loadloai").html(data);
                    },


                });
         


        });
    </script>
</div>