@model IEnumerable<ECommerceNET.Entities.LoaiSP>

@{
    ViewData["Title"] = "LoadLoai";
    Layout = null;
}
@foreach (var item in Model)
{
<option value="@item.idLoaiSP">@Html.DisplayFor(modelItem => item.tenLoaiSP)</option>
}