@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Footer Start -->
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>
<!-- Your Plugin chat code -->

<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "108189827644660");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v11.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!--Start of Tawk.to Script-->


<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60e143da649e0a0a5cca6af9/1f9nv23un';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>


<!--End of Tawk.to Script-->


<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Liên Hệ</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>280 An Dương Vương, Quận 5</p>
                        <p><i class="fa fa-envelope"></i>contact.yanstore@gmail.com</p>
                        <p><i class="fa fa-phone"></i>(+84) 969-969-969</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Cộng Đồng YAN</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Thông Tin YAN</h2>
                    <ul>
                        <li><a href="/gioithieu/index/">Giới thiệu YAN</a></li>

                        <li><a href="#">Điều khoảng dịch vụ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Chính sách mua hàng</h2>
                    <ul>
                        <li><a href="#">Quy định chung</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!--

        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>We Accept:</h2>
                    <img src="img/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>

                    <img src="~/ecommerce-html-template/img/godaddy.svg" alt="Payment Security" />
                    <img src="~/ecommerce-html-template/img/norton.svg" alt="Payment Security" />
                    <img src="~/ecommerce-html-template/img/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<!-- Footer End -->
<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">


            <div class="col-md-6 template-by">
                <input class="form-control" id="tracuudonhang" type="text" placeholder="Tra cứu trạng thái đơn hàng"><button class="btn" id="tracuu">Tra cứu</button>
            </div>

            <!-- Begin Mailchimp Signup Form -->
            <!-- <style type="text/css"> <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    clear: left;
                    font: 14px Helvetica,Arial,sans-serif;
                }
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>-->
            <!--     <div id="mc_embed_signup" class="col-md-6 template-by">-->
            <!-- <form action="https://gmail.us6.list-manage.com/subscribe/post?u=e985fec1fcfae851c88847638&amp;id=86ba2c5e1b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe</label>-->
            <!--      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Đăng ký nhận tin tức từ YAN Store" required>
                   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <!--     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e985fec1fcfae851c88847638_86ba2c5e1b" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Đăng ký" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>

            </div>

            <!--End mc_embed_signup-->

            <div class="col-md-6 template-by">
                <input class="form-control" id="dangkynhanthongtinemail" type="text" placeholder="Đăng ký nhận thông tin sản phẩm qua email"><button class="btn" id="dangkyemail">Đăng ký</button>
            </div>
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="/Home/">YAN</a>. Đã đăng ký bản quyền</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->
